.App {
  box-sizing: border-box;
  text-align: center;
  background-color: #2e2336;
  width: 100vw;
  height: 100vh;
  padding-left: 100px;
  padding-right: 100px;
  border-top: 3px solid white;
}

.productWrapper {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 20px;
}